footer[role="contentinfo"]{
	color: white;
	background: $light_green;

	> div:first-child{
		padding-top: 2em;
		padding-bottom: 2em;
	}

	input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):not([type=color]):not([type=button]):not([type=image]):not([type=reset]):not([type=range]),
	textarea{
		&:hover{
			border-color: $dark_green;
		}

		&[required='true'],
		&[required='required']{
			&:valid{
				&:focus{
					border-color: $dark_green;
				}
			}
		}

		&:focus{
			border-color: $dark_green;

			~ label{
				color: $dark_green;
			}
		}
	}

	#footer-logo{
		a{
			display: block;
			height: 0;
			width: 100%;
			margin: 0 auto;
			padding-top: 66px;
			overflow: hidden;
			background: url(images/birdbabe-logo-small.png) no-repeat;
			background-size: contain;

			&:focus{
				outline: 1px solid lighten($dark_pink, 28%);
				outline-offset: 2px;
			}
		}
	}

	h6{
		margin-top: 0;
	}

	a{
		color: white;

		&:focus{
			outline: none;
			background: white;
			color: $dark;
		}

		&:active{
			color: white;
			background: none;
			text-decoration: underline;
		}

		&[target="_blank"]{
			&:after{
				content: none;
			}
		}
	}

	nav{
		&[role="navigation"]{
			@include vendor-prefix(columns, '2');
		}

		> ul{
			font-size: .875em;
		}

		ul{
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			li{
				break-inside: avoid;
				color: white;

				&:last-child{
					margin-bottom: 0;
				}

				a{

					&:hover{
						text-decoration: underline;
						text-decoration-skip: ink;
						text-decoration-skip-ink: auto;
					}

					&.social-icon{
						font-family: fontello;
						font-size: 2rem;
						margin-right: .5em;
						position: relative;
						text-decoration: none;
						@include vendor-prefix(font-smoothing, 'antialiased');
						@include vendor-prefix(transition, 'color .3s, top .3s');

						&:last-child{
							margin-right: 0;
						}

						&:hover{
							color: $primary;
							text-decoration: none;
						}

						&:focus{
							outline: 1px solid white;
							outline-offset: 1px;
							color: white;
							background: none;
							text-decoration: none;
						}

						&:active{
							outline: none;
							color: $primary;
							top: 2px;
							background: none;
							text-decoration: none;
						}
					}
				}

				ul{
					margin: 0 0 0 2ch;
				}
			}
		}
	}

	#footer-login{
		margin-top: -1em;
		opacity: 0;
		height: 0;
		min-height: 0;
		overflow: hidden;
		pointer-events: none;
		float: right;
		@include vendor-prefix(transition, 'opacity .3s');

		&.show{
			height: auto;
			overflow: visible;
			opacity: 1;
			pointer-events: all;
		}

		.actions{
			margin-top: 1em;

			#footer-signup-link{
				position: relative;
				top: .5em;
			}
		}
	}

	#footer-logout{
		opacity: 0;
		height: 0;
		min-height: 0;
		overflow: hidden;
		pointer-events: none;
		float: right;
		@include vendor-prefix(transition, 'opacity .3s');

		&.show{
			height: auto;
			overflow: visible;
			opacity: 1;
			pointer-events: all;
		}
	}

	> div:last-child{
		background: $light_green;
		text-align: center;
		padding: 1em 0;
		font-size: .7em;
	}
}
