aside[role="complementary"]{
	section{
		padding-bottom: 0;
	}

	.sidebar-categories{
		background-color: white;

		h4{
			margin-bottom: 0;
			padding-bottom: .5em;
			border-bottom: 1px solid;
			text-align: center;
		}

		a{
			display: block;
			padding: 1em 0;
			text-decoration: none;
			color: $brown;
			user-select: none;
			border-bottom: 1px solid lighten($light_green, 45%);

			&:focus,
			&:hover{
				background: none;
				color: $light_pink;
			}

			&.selected{
				color: $light_green;
			}

			&:last-child{
				border: none;
			}
		}
	}

	#sidebar-call-to-action{
		background: none;
		color: $brown;
		margin: 2em 0 0;
		padding: 0;

		.container{
			width: 100%;
		}

		h5{
			opacity: 1;
			margin-bottom: .5em;
		}

		.btn{
			width: 100%;
		}
	}
}
