//Variables
$red: rgb(240, 57, 57);
$blue: rgb(26, 126, 189);
$yellow: rgb(242, 240, 82);
$light: rgb(236, 236, 236);
$medium: rgb(102, 102, 102);
$dark: rgb(31, 31, 31); //$dark: desaturate(darken($primary, 46%), 78%);

$ultralight: #fdf1f6;
$light_pink: #f3b0d1;
$dark_pink: #cb326b;
$dark_green: #426410;
$light_green: #7ab120;
$brown: #6a491e;
$cream: #fff7e4;

$green: $light_green;

$primary: $dark_pink;

$phone: 600px;
$tablet: 980px;
$desktop: 1280px;

$grid-columns: 12;
$grid-gutter-width-base: 20px;

$grid-gutter-widths: (
	lg: $grid-gutter-width-base,
	md: $grid-gutter-width-base,
	sm: $grid-gutter-width-base,
);

$grid-breakpoints: (
	lg: $desktop,
	md: $tablet,
	sm: $phone,
);

$container-max-widths: (
	lg: $desktop * .9375,
	md: $tablet * .9375,
	sm: $phone * .9375,
);
