@import url('//fonts.googleapis.com/css?family=Satisfy');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import 'css/mixins';
@import 'css/fonts';

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	@include vendor-prefix(box-sizing, 'border-box');
}

:root{
	font-size: 16px;
	line-height: 1.8;
	font-family: Roboto Slab;
	color: $medium;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: discretionary-ligatures;
	@include vendor-prefix(text-size-adjust, '100%');
	@include vendor-prefix(font-smoothing, 'antialiased');
}

body{
	background: $light_green;
}

section{
	padding-bottom: 2em;

	&:last-child{
		padding-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0 0 .5em;

	@media(max-width: $phone){
		line-height: 1.2;
	}
}

h1{
	color: $brown;
	font-family: 'Satisfy', cursive;
	font-size: 3em;
	margin: 0;
}

h3{
	font-size: 1.875rem;
	margin-bottom: 0;
	color: $brown;

	a{
		color: $brown;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}

h4{
	color: $dark_pink;
	opacity: .5;
	text-transform: uppercase;
}

h5{
	font-size: 1rem;
}

h6{
	font-size: 1.17rem;
	font-weight: 400;
}

a{
	cursor: pointer;
	color: $dark_pink;
	text-decoration-skip: ink;
	text-decoration-skip-ink: auto;

	&:visited{
		color: adjust-hue($dark_pink, 50deg);
	}

	&:focus{
		outline: none;
		background: lighten($dark_pink, 28%);
		color: white;
	}

	&:active{
		color: $dark_pink;
		background: none;
		text-decoration: none;
	}

	&:hover{
		color: darken($dark_pink, 10%);
	}

	&[target="_blank"]:not[class^="btn"]{
		&:after{
			font-family: 'Fontello';
			content: '\00A0\f08e';
			font-size: .8em;
		}
	}
}

p{
	margin-bottom: 1em;
	@include vendor-prefix(hyphens, 'auto');

	&:last-child():not(:first-child){
		margin-bottom: 0;
	}

	/** drop cap. dunno if i like it tho
	&:first-of-type():not(:last-of-type){
		&:first-letter{
			color: $dark;
			font-size: 3em;
			font-weight: 700;
			float: left;
			line-height: 1;
			margin-right: .5rem;
		}

		&:first-line{
			font-variant: small-caps;
		}
	} */
}

blockquote{
	border-left: 3px solid $primary;
	padding-left: 3em;
	position: relative;

	&:before{
		content: '\201C';
		font-size: 10em;
		line-height: 1;
		font-weight: 900;
		font-family: serif;
		color: $light;
		position: absolute;
		left: 10px;
		top: -20px;
		z-index: 0;
	}

	> *{
		position: relative;
	}
}

pre{
	max-width: 100%;
	overflow-x: scroll;
	font-family: 'Fira Code', 'Liberation Mono', Inconsolata, Monaco, Consolas, 'Lucida Sans Typewriter', 'Courier New', Courier;
	font-variant-ligatures: normal;
	font-feature-settings: 'liga' off, 'calt' off, 'tnum';
	line-height: 2;
	color: $dark;
	background: $light;
	border: 1px solid darken($light, 10%);
	border-radius: 1px;
	padding: 1em;
	margin-bottom: 1em;
}

code{
	white-space: pre-wrap;
	display: block;
	border: 1px solid darken($dark, 10%);
	font-family: 'Fira Code', 'Liberation Mono', Inconsolata, Monaco, Consolas, 'Lucida Sans Typewriter', 'Courier New', Courier;
	font-variant-ligatures: normal;
	font-feature-settings: 'liga' on, 'calt' on, 'tnum';
	color: $light;
	background: $dark;
	border-radius: 1px;
	margin: 1em 0;
	overflow: hidden;
	padding: 1ch 2ch .2em 5ch;
	position: relative;

	&:before{
		content:
			"1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A"
			"21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A"
			"41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A"
			"61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A"
			"81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A 100\A";
		color: lighten($dark, 15%);
		font-weight: 600;
		white-space: pre;
		text-align: right;
		position: absolute;
		top: 0;
		left: 0;
		background: lighten($dark, 2%);
		padding: 1ch .3em 0 0;
	}
}

abbr{
	font-variant-caps: small-caps;
	text-transform: lowercase;
}

del{
	color: darken($red, 10%);
}

ins{
	color: darken($green, 20%);
	text-decoration: none;
}

ul,
ol{
	margin: 0 0 1em 2ch;

	&:last-child{
		margin-bottom: 0;
	}

	li{
		color: $medium;
	}
}

address{
	color: $brown;
	font-style: normal;
	font-weight: 800;
	font-size: 1.1em;

	a{
		color: $brown;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	box-sizing: content-box;

	&.modal-img{
		cursor: pointer;
	}

	&.alignleft{
		margin-right: 2em;
	}

	&.alignright{
		margin-left: 2em;
	}

	&.aligncenter{
		display: block;
		margin: 0 auto;
	}
}

table{
	margin-bottom: 2em;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;

	&:last-child{
		margin-bottom: 0;
	}

	caption{
		background: $dark;
		color: $light;
		padding: .5em 0;
	}

	tr{
		td,
		th{
			padding: .75em 3%;
			line-height: 1;

			&:first-child{
				border-left: 1px solid $light;
			}

			&:last-child{
				border-right: 1px solid $light;
			}
		}
	}

	thead{
		tr{
			&:first-child{
				th,
				td{
					border-top: 1px solid $light;
				}
			}

			th,
			td{
				background: lighten($light, 5%);
				text-align: left;

				&[rowspan]{
					vertical-align: bottom;
				}

				&[colspan]{
					text-align: center;
				}
			}
		}
	}

	tbody{
		tr{
			&:first-child{
				td{
					border-top: 1px solid $light;
				}
			}

			&:nth-child(even){
				td{
					background: lighten($light, 6%);
				}
			}

			&:last-child{
				td{
					border-bottom: 1px solid $light;
				}
			}

			td{
				border-bottom: 1px solid lighten($light, 2%);
				background: $light;
			}
		}
	}

	tfoot{
		tr{
			&:last-child{
				th,
				td{
					border-bottom: 1px solid $light;
				}
			}

			th,
			td{
				background: lighten($light, 5%);
				text-align: left;

				&[rowspan]{
					vertical-align: bottom;
				}

				&[colspan]{
					text-align: center;
				}
			}
		}
	}
}

hr{
	margin: 1em 0;
	border-style: solid;
	border-top: none;
	color: $light-pink;
}

[data-hinfo]{
	&:hover{
		position: relative;

		&:before{
			content: '';
			border: .7rem solid transparent;
			border-top-color: $dark;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 2rem;
		}

		&:after{
			content: attr(data-hinfo);
			position: absolute;
			z-index: 1;
			top: -2.45rem;
			left: 0;
			background: $dark;
			border: 1px solid $light;
			border-radius: 3px;
			font-size: .7rem;
			font-weight: 400;
			line-height: 1.3;
			color: $light;
			white-space: nowrap;
			padding: .8rem;
		}
	}
}

.no-scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

#fullscreen-loading{
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(white, .7);
	opacity: 1;
	@include vendor-prefix(transition, 'opacity .3s');

	&.hide{
		opacity: 0;
	}

	.loading{
		height: 120px;
		width: 120px;
		margin: 0 auto;
		display: block;
		position: relative;
		top: 50%;
		margin-top: -60px;
		text-align: center;
	}
}

svg.loading{
	circle{
		stroke: $primary;
		@include vendor-prefix(animation, 'rotate_cw 1s linear infinite');

		+ circle{
			@include vendor-prefix(animation-direction, 'reverse');
		}
	}
}

.leaders{
	padding: 0;
	overflow-x: hidden;

	> *{
		&:before{
			float: left;
			width: 0;
			white-space: nowrap;
			content:
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . ";
		}

		&:after{
			content: '';
			clear: both;
			display: block;
		}

		*{
			&:first-child{
				float: left;
				padding-right: .33em;
				background: white;
			}

			&:last-child{
				float: right;
				padding-left: .33em;
				background: white;
			}
		}
	}
}

#breadcrumbs{
	list-style: none;

	li{
		display: inline-block;
		vertical-align: middle;
		margin: 0;

		&.separator{
			margin: 4px .5em 0 .1em;
			@include vendor-prefix(transform, 'rotate(-135deg)');
		}

		&:last-child{
			a{
				color: $medium;
				text-decoration: none;
				cursor: default;
				pointer-events: none;
			}
		}
	}
}

.container #breadcrumbs{
	margin: 0;
	width: auto;
}

.clearfix{
	zoom: 1;

	&:before,
	&:after{
		content: ' ';
		display: table;
	}

	&:after{
		clear: both;
	}
}

.hidden{
	visibility: hidden !important;
}

.fr,
.alignright{float: right !important;}

.fl,
.alignleft{float: left !important;}

.fn{float: none !important;}

.cr{clear: right;}
.cl{clear: left;}
.cb{clear: both;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.blur{
	@include vendor-prefix(filter, 'blur(8px)');
}

main[role='main']{
	display: block;
	background: white;

	#main-content{
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

[role="article"]{
	header{
		img{
			width: 100%;
		}
	}
}

.parallax{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.pagination{
	text-align: center;

	.pagination-navigation{
		display: inline-block;
	}

	ul{
		list-style: none;
		display: inline-block;

		li{
			display: inline-block;
			line-height: 1em;

			a,
			span,
			button{
				padding-left: .8em;
				padding-right: .8em;
			}
		}
	}
}

.col-content{
	background: white;
	border-bottom: 1px solid lighten($medium, 40);
	margin-bottom: 1.5em;

	&:last-child{
		border: none;
		margin-bottom: 0;
	}

	img{
		display: block;
		border-bottom: 6px solid $dark_pink;
	}

	a.read-more{
		text-transform: uppercase;
		text-decoration: none;
		color: $green;
		opacity: .43;
		display: block;

		span{
			font-size: 1.7em;
			font-weight: 100;
			position: relative;
			top: 2px;
		}
	}
}

#call-to-action{
	clear: both;
	text-align: center;
	color: white;
	background: $dark_green;
	padding: 2em 0;
	margin: 2em 0 0;
}

.faq-slide-content{
	h4{
		margin-bottom: 0;
		cursor: pointer;
	}

	div{
		max-height: 0;
		overflow: hidden;
		@include vendor-prefix(transition, 'max-height .3s');

		&.open{
			max-height: 8em;
		}
	}
}

.g-recaptcha{
	margin-top: 1em;

	> div{
		margin: 0 auto;
	}
}

.calendar{
	position: absolute;
	left: 0;
	top: 4em;
	z-index: 3;
	width: 18em;
	padding: 0 .8em;
	display: none;
	color: $dark;
	border: 1px solid $primary;
	background: white;

	@include vendor-prefix(user-select, 'none');

	@media(max-width: $phone){
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: none;
	}

	&.show{
		display: block;
	}

	.cal-header{
		padding: .8em;
		cursor: default;

		.nav{
			cursor: pointer;
			color: $medium;
			font-weight: 900;

			&.next{
				float: right;

				&:hover{
					color: $dark;
				}
			}

			&.prev{
				float: left;

				&:hover{
					color: $dark;
				}
			}
		}
	}

	.day{
		float: left;
		width: 10.2857143%;
		margin: 0 2%;
		line-height: 1;
		text-align: center;
	}

	.date{
		text-align: center;

		span{
			margin-right: .4em;

			& + span{
				opacity: .6;
				margin: 0;
			}
		}
	}

	.days{
		padding: .3em 0;
		font-weight: 500;
		border-bottom: 2px solid $primary;

		.day{
			color: $primary;
			height: 1.3em;
			cursor: default;
		}
	}

	.body{
		border-top: none;
		padding: 10px 0;

		.day,
		.month{
			cursor: pointer;
			padding: .4em 0;

			@include vendor-prefix(transition, 'background .25s');

			&:hover{
				background: $light;
			}

			&.selected{
				background: $primary;
				color: white;
				font-weight: 400;
			}

			&.disabled{
				color: darken($light, 10%);
				pointer-events: none;
				cursor: not-allowed;

				&:hover{
					background: none;
				}
			}
		}

		.month{
			text-align: center;
		}
	}
}

/**
 * This is to position the captcha popup. It is only necessary since the signup is in a modal.
 * if your signup is on a page (which i think is a MUCH better idea), you can trash this guy
 */
body .notifications ~ div[style]:last-of-type{
	position: fixed !important;
}

#scroll-to-top{
	line-height: 1;
	position: fixed;
	z-index: 2;
	bottom: -2.5em;
	right: 5%;
	color: white;
	padding: 1em 1em .8em;
	background: $primary;
	opacity: 0;
	cursor: pointer;
	pointer-events: none;
	@include vendor-prefix(transition, 'opacity .3s, bottom .3s');

	&.show{
		bottom: 4em;
		opacity: 1;
		pointer-events: all;
	}
}

@import 'css/scaffolding';
@import 'css/buttons';
@import 'css/forms';
@import 'css/modal';
@import 'css/notifications';
@import 'css/bx-slider';
@import 'css/header';
@import 'css/footer';
@import 'css/sidebar';
