@import "css/mixins";

.archive-tour header{
	margin-bottom: 2em;
}

#tour-list.loading{
	text-align: center;
}

.col-content{
	&:nth-child(2n + 1){
		clear: both;
	}

	@media(min-width: $phone){
		&:nth-last-child(2){
			border: none;
			margin-bottom: 0;
		}
	}
}
