@import "css/mixins";

.archive-event header{
	margin-bottom: 2em;
}

#event-categories{
	float: right;

	a{
		color: $brown;

		&.selected{
			color: $dark_pink;
			text-decoration: none;
			pointer-events: none;
		}
	}
}

#event-actions{
	display: none;
	text-align: right;

	.btn{
		padding: .5em 10%;
	}
}

.calendar-holder{
	position: relative;

	#events-month{
		cursor: pointer;
		float: left;

		&:after{
			content: '\221F';
			font-weight: 900;
			font-family: sans-serif;
			position: relative;
			top: -.2em;
			margin-left: .5em;
			display: inline-block;
			@include vendor-prefix(transform, 'rotate(-45deg)');
		}
	}

	.calendar-monthly{
		top: 2.5em;
	}
}

#event-list{
	li{
		&:nth-child(3n+1){
			clear: both;
		}

		@media(max-width: $tablet){
			&:nth-child(3n+1){
				clear: none;
			}

			&:nth-child(2n+1){
				clear: both;
			}
		}

		h5{
			color: $dark_green;
			opacity: .5;
		}

		.event-category{
			color: $brown;
		}

		> a:first-child{
			display: inline-block;

			&:focus{
				outline: 1px solid lighten($dark_pink, 28%);
				outline-offset: 2px;
				background: none;
			}

			img{
				@media(max-width: $phone){
					width: 100%;
				}
			}
		}
	}

	.loading{
		height: 120px;
		width: 120px;
		margin: 0 auto;
		display: block;
		position: relative;
		top: 5vh;
		text-align: center;

		+ div{
			position: relative;
			top: calc(5vh + 20px);
			text-align: center;
			color: $primary;
			font-size: 36px;
		}

		@media(max-width: $phone){
			top: 30vh;

			+ div{
				top: calc(30vh + 20px);
			}
		}
	}
}

.col-content:nth-last-child(2),
.col-content:nth-last-child(3){
	@media(min-width: $phone){
		border: none;
	}
}
