@import "css/mixins";

.building-title{
	text-transform: capitalize;
	text-align: center;
}

.building{
	.floor{
		position: relative;
		@include vendor_prefix(display, 'flex');

		&:last-child div{
			border-bottom: 1px solid darken($blue, 18%);
		}

		&:nth-child(5n - 6){
			&:before{
				content: attr(data-floor);
				position: absolute;
				left: -4ch;
				width: 3ch;
				color: $medium;
				font-size: .8em;
				font-weight: 900;
				text-align: right;
			}
		}
	}

	div.unit{
		position: relative;
		background: $blue;
		border-top: 1px solid darken($blue, 18%);
		border-left: 1px solid darken($blue, 18%);
		text-align: center;

		&.market{
			background: darken($blue, 10%);
		}

		&.unavailable{
			background: lighten($blue, 40%);

			a{
				color: $blue;

				&:focus{
					outline-color: $blue;
				}

				&:hover{
					outline-color: $blue;
				}
			}
		}

		&:last-child{
			border-right: 1px solid darken($blue, 18%);
		}

		> a{
			display: block;
			text-decoration: none;
			font-size: .8em;
			font-weight: 900;
			color: white;

			&:hover{
				outline: 1px solid white;
				outline-offset: -3px;
			}

			&:focus{
				outline: 1px solid white;
				outline-offset: -3px;
				background: none;
			}
		}

		> span{
			display: none;
		}
	}

	div.spacer{
		background: darken($blue, 18%);
		border-top: 1px solid darken($blue, 18%);
		border-left: 1px solid darken($blue, 18%);
		text-align: center;
		font-size: .8em;
		font-weight: 900;
		color: darken($blue, 18%);
		cursor: default;
		user-select: none;
	}

	.width-0,
	.width-1{
		flex-grow: 1;
		width: 10%;
	}

	.width-2{
		flex-grow: 2;
		width: 20%;
	}

	.width-3{
		flex-grow: 3;
		width: 30%;
	}
}

#modal{
	picture{
		margin: 0 -2em;

		img{
			max-width: calc(100% + 4em);
		}
	}

	.sold{
		text-decoration: line-through;

		+ h3{
			color: $red;
		}
	}
}
