@import "css/mixins";

#contact-map{
	min-height: 400px;
}

#contact-address{
	> div{
		font-weight: 800;
		font-size: 1.1em;
		line-height: 2;

		a{
			color: $brown;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

textarea{
	width: 100%;
}

input[type="submit"].btn{
	width: 100%;
}
