@import "css/mixins";

#hero-wrapper{
	> .container{
		position: relative;

		@media(max-width: $phone){
			padding: 0 5%;
		}
	}

	#headline{
		position: absolute;
		z-index: 1;
		max-width: 50%;
		padding-top: 3em;

		@media(max-width: $phone){
			max-width: none;
			padding-top: .5em;
		}

		h1{
			color: white;
		}

		p{
			color: white;
		}
	}
}

.bx-wrapper{
	margin-bottom: 0;

	.bx-viewport{
		@media(max-width: $phone){
			min-height: 0;
			height: auto !important;
		}
	}

	#home-slider{
		img{
			display: block;
		}

		figcaption{
			position: absolute;
			top: 9em;
			bottom: 0;
			left: 50%;
			margin-left: calc(-#{$desktop} / 2);
			max-width: 40%;
			color: white;

			@media(max-width: $phone){
				max-width: none;
				margin-left: 0;
				left: 0;
			}
		}
	}

	.bx-pager.bx-default-pager{
		bottom: 1em;

		a{
			background: white;
		}
	}
}

.col-content{
	@media(min-width: $phone){
		border: none;
	}
}
