@import "css/mixins";

h3.section-title{
	color: $dark_pink;
}

.archive-tour header{
	margin-bottom: 2em;
}

#post-list{
	&.loading{
		text-align: center;
	}

	.post{
		border-bottom: 1px solid lighten($medium, 45%);
		padding: .8em .5em .5em;

		&:last-child{
			border: none;
		}
	}

	h6{
		display: inline-block;

		a{
			color: $brown;
		}
	}

	p{
		display: inline-block;
	}
}

.col-content{
	margin-bottom: 2em;

	&:nth-child(2n + 1){
		clear: both;
	}
}

#featured{
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid darken($dark_pink, 10%);

	h3{
		line-height: 1;
		margin-bottom: .4em;

		&.section-title{
			margin-bottom: .75em;
		}
	}

	img{
		border-bottom: 6px solid $dark_pink;
	}
}

article{
	.post-category{
		font-size: .875em;
		color: $light_green;
	}
}
