@import "css/mixins";

#private-form{
	background: white;
	padding: 1em;
	position: relative;
	border-bottom: 6px solid $brown;

	h3{
		color: $dark_pink;
	}

	label{
		display: block;

		&[for="guests-num"]{
			white-space: nowrap;
		}
	}

	.input-wrap{
		padding-top: 0;
		margin-bottom: 1em;

		&:after{
			top: 0;
		}
	}

	select{
		width: 100%;
		display: inline-block;
		margin-top: .5em;
		padding: 11px 26px 11px 5px;
	}

	.calendar{
		top: 2.6em;
	}

	#submit-loading{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background: rgba(white, .9);
		text-align: center;
		padding-top: 30%;
	}
}
