@import "css/mixins";

#hero-wrapper{
	> .container{
		position: relative;

		@media(max-width: $phone){
			padding: 0 5%;
		}
	}

	#headline{
		position: absolute;
		z-index: 1;
		padding-top: 3em;

		@media(max-width: $phone){
			max-width: none;
			padding-top: .5em;
		}

		h1{
			color: white;
		}
	}
}

#event-map{
	width: 100%;
	height: 200px;
	margin-bottom: 2em;

	+ .btn{
		width: 100%;
	}
}
