@import "css/mixins";

#tour-information{
	background: $dark_green;
	color: white;
	padding: 1em;

	h6{
		span{
			font-weight: 300;
		}
	}

	hr{
		color: rgba(white, .3);
	}

	ul{
		margin-left: 1em;
		list-style: none;

		li{
			color: white;
			float: left;
			margin-right: .5em;

			&:after{
				content: '|';
				margin-left: .5em;
			}

			&:last-child{
				margin-right: 0;
				padding-right: 0;

				&:after{
					content: '';
				}
			}
		}
	}

	button{
		background: white;
		color: $dark_green;
		width: 100%;
		margin-top: 1em;
	}
}

#private-form{
	background: white;
	position: relative;

	h3{
		color: $light_green;
		margin-bottom: .5em;
	}

	label{
		display: block;

		&[for="guests-num"]{
			white-space: nowrap;
		}
	}

	.input-wrap{
		padding-top: 0;
		margin-bottom: 1em;

		&:after{
			top: 0;
		}
	}

	select{
		width: 100%;
		display: inline-block;
		margin-top: .5em;
		padding: 11px 26px 11px 5px;
	}

	.calendar{
		top: 2.6em;
	}

	#submit-loading{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background: rgba(white, .9);
		text-align: center;

		.uil-ring.loading{
			top: 25vh;

			+ div{
				top: calc(25vh + 20px);
			}
		}
	}
}
