@import "css/mixins";

h3{
	color: $dark_pink;
}

h4{
	color: $light_green;
	opacity: 1;
}

#hero-wrapper{
	> .container{
		position: relative;

		@media(max-width: $phone){
			padding: 0 5%;
		}
	}

	#headline{
		position: absolute;
		z-index: 1;
		padding-top: 3em;

		@media(max-width: $phone){
			max-width: none;
			padding-top: .5em;
		}

		h1{
			color: white;
		}
	}
}
