{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	<header class="{{ sidebar ? '':'container' }}">
		{% if post.title %}
			<h1>{{ post.title }}</h1>
		{% elseif title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{{ post.post_content }}
	</header>
	<article role="article">
		<section class="{{ sidebar ? '':'container' }}">
			<ul id="tour-list" class="row text-center" aria-live="assertive" aria-atomic="true">
				{% for tour in tours %}
					<li class="col-lg-6 col-sm-12 col-content text-left" itemscope itemtype="http://schema.org/TouristTrip">
						{% if tour.thumbnail or tour.custom.gallery[0] %}
							<a href="{{ tour.link }}" title="{{ tour.post_title }}">
								<img class="col-image"
									src="{{ (tour.thumbnail ? tour.thumbnail.src : Image(tour.custom.gallery[0]).src) | resize(100, 95.2) }}"
									data-src="{{ (tour.thumbnail ? tour.thumbnail.src : Image(tour.custom.gallery[0]).src) | resize(630, 600) }}"
									alt="{{ tour.thumbnail ? post.thumbnail.alt ? post.thumbnail.alt : post.thumbnail.title : Image(tour.custom.gallery[0]).alt ? Image(tour.custom.gallery[0]).alt : Image(tour.custom.gallery[0]).title }}"
									width="630"
									itemprop="image">
							</a>
						{% endif %}
						<h3><a href="{{ tour.link }}" title="{{ tour.post_title }}" itemprop="name">{{ tour.post_title }}</a></h3>
						<div class="clearfix">
							<h4 class="fl"><time itemprop="startDate" datetime="{{ tour.custom.datetime | date('Y-m-d\\TH:i') }}">{{ tour.custom.datetime | date("F jS, g:ia") }}</time></h4>
							<h4 class="fr">
								{%- for item in tour.get_field('locations') -%}
									<span itemprop="location">{{ item.location }}</span>{{ (not loop.last ? ', ') }}
								{%- endfor -%}
							</h4>
						</div>
						<p itemprop="description">{{ tour.post_content | excerpt(30) }}</p>
						<meta itemprop="provider" content="{{ site.name }}">
						<meta itemprop="touristType" content="Nature tourism">
						<meta itemprop="url" content="{{ tour.link }}">
					</li>
				{% endfor %}
			</ul>
		</section>
	</article>
{% endblock %}
