{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	<header class="{{ sidebar ? '':'container' }}">
		{% if post.title %}
			<h1>{{ post.title }}</h1>
		{% elseif title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{{ post.post_content }}
	</header>
	<article role="article">
		<section class="{{ sidebar ? '':'container' }}">
			<ul id="tour-list" class="row clearfix" aria-live="assertive" aria-atomic="true">
				{% for tour in tours %}
					<li class="col-lg-6 col-sm-12 col-content" itemscope itemtype="http://schema.org/TouristTrip">
						{% if tour.thumbnail or tour.custom.images[0] %}
							<a href="{{ tour.link }}" title="{{ tour.post_title }}">
								<img class="col-image"
									src="{{ (tour.thumbnail ? tour.thumbnail.src : Image(tour.custom.images[0]).src) | resize(100, 55.95) }}"
									data-src="{{ (tour.thumbnail ? tour.thumbnail.src : Image(tour.custom.images[0]).src) | resize(470, 263) }}"
									alt="{{ tour.thumbnail ? post.thumbnail.alt ? post.thumbnail.alt : post.thumbnail.title : Image(tour.custom.images[0]).alt ? Image(tour.custom.images[0]).alt : Image(tour.custom.images[0]).title }}"
									width="470"
									itemprop="image">
							</a>
						{% endif %}
						<h3><a href="{{ tour.link }}" title="{{ tour.post_title }}" itemprop="name">{{ tour.post_title }}</a></h3>
						<p itemprop="description">{{ tour.post_content | excerpt(30) }}</p>
						<meta itemprop="provider" content="{{ site.name }}">
						<meta itemprop="touristType" content="Nature tourism">
						<meta itemprop="url" content="{{ tour.link }}">
					</li>
				{% endfor %}
			</ul>
		</section>
	</article>
{% endblock %}
