{% extends "base.twig" %}

{% block microdata %}
<!-- This probably should just be a page, and the whole site should be an ApartmentComplex.
Just going to leave this here for reference tho -->
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "ApartmentComplex",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}",
	{% if theme.theme_mods.street_address_1 and theme.theme_mods.city and theme.theme_mods.state and theme.theme_mods.postal %}
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "{{ theme.theme_mods.city }}",
		"addressRegion": "{{ theme.theme_mods.state }}",
		"streetAddress": "{{ theme.theme_mods.street_address_1 ~ (theme.theme_mods.street_address_2 ? ', ' ~ theme.theme_mods.street_address_2) }}",
		"postalCode": "{{ theme.theme_mods.postal }}"
	}
	{% endif %}
}
</script>
{% endblock %}
{% set description = fn('get_theme_mod', 'single_unit_info') %}
{% block content %}
	<section class="{{ sidebar ? '':'container' }}">
		{{ post.post_content }}
		<div class="row">
			{% for name, building in units %}
			<div id="{{ name | lower }}" class="col-lg-5 col-md-12{{ loop.index0 % 2 == 1 ? ' offset-lg-2 offset-md-0' }}" role="presentation">
				<h4 class="building-title">{{ name }}</h4>
				<div class="building">
					{% for number, floor in building %}
					<div class="floor" data-floor="{{ number }}">
						{% for unit in floor %}
						{# this set of conditionals will create the elevator shaft in the second building #}
						{% if loop.parent.loop.parent.loop.last %}
							{% if number < 34 %}
								{% if loop.revindex0 == 2 %}
								<div class="spacer width-1">{{ _e('Elevator', 'mvnp_basic') }}</div>
								{% endif %}
							{% endif %}
							{% if number >= 34 %}
								{% if loop.revindex0 == 1 %}
								<div class="spacer width-1">{{ _e('Elevator', 'mvnp_basic') }}</div>
								{% endif %}
							{% endif %}
						{% endif %}
						<div class="unit unit-{{ unit.unitNumber }} width-{{ unit.bedrooms }} {{ unit.available < 1 ? 'unavailable' }} {{ unit.affordable < 1 ? 'market' }}" itemscope itemtype="http://schema.org/Product">
							<a class="modal-ajax" href="{{ site.url }}/units/{{ unit.unitNumber }}" title="{{ __('Unit %s', 'mvnp_basic') | format(unit.unitNumber) }}" data-target="section.unit-section" data-unit="{{ unit.unitNumber }}">{{ unit.bedrooms }}/{{ unit.bathrooms }}</a>
							<link href="http://www.productontology.org/id/Condominium" itemprop="additionalType">
							<meta itemprop="url" content="{{ site.url }}/units/{{ unit.unitNumber }}">
							<meta itemprop="description" content="{{ unit_manager.parse_unit_content(description, unit) }}">
							<meta itemprop="floorSize" content="{{ unit.livingSqFt + unit.lanaiSqFt }}">
							<meta itemprop="name" content="{{ __('Unit %s', 'mvnp_basic') | format(unit.unitNumber) }}">
							<meta itemprop="image" content="{{ site.url }}/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_Isometric-300x289.png">
							<meta itemprop="numberOfRooms" content="{{ unit.bedrooms }}">
							<span itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
								<link href="http://schema.org/{{ unit.available < 1 ? 'OutOf' : 'In' }}Stock" itemprop="availability">
								<meta itemprop="price" content="{{ unit.price }}">
								<meta itemprop="priceCurrency" content="USD">
							</span>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
