{% extends "base.twig" %}

{% macro getChildren(parent) %}
{% import _self as this %}
	<li>
		<a href="{{ parent.link }}" title="{{ parent }}" itemscope itemtype="http://schema.org/Question">{{ parent }}</a>
		{% if parent.children | length %}
			<ul>
				{% for child in parent.children %}
					{{ this.getChildren(child) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}

{% block content %}
{% import _self as this %}
	<section class="{{ sidebar ? '':'container' }}">
		<ul>
			{% for post in posts %}
				{{ this.getChildren(post) }}
			{% endfor %}
		</ul>
	</section>
{% endblock %}
