<section id="call-to-action">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-12">
				{% if sidebar %}
				<h5>{{ _e('Dont see what you’re looking for? Click here for private tour options.', 'mvnp_basic') }}</h5>
				{% else %}
				<h2>{{ _e('Need a more personalized experience? Click here for private tour options.', 'mvnp_basic') }}</h2>
				{% endif %}
				<a class="btn {{ sidebar ? 'btn-green' : 'btn-inverted' }}" href="{{ site.link }}/private-contact">{{ _e('Private tours', 'mvnp_basic') }}</a>
			</div>
		</div>
	</div>
</section>
