{% extends "base.twig" %}

{% block head %}
<script>
	var contactMapLocation = '{{ theme.theme_mods.street_address_1 ~ (theme.theme_mods.street_address_2 ? ', ' ~ theme.theme_mods.street_address_2) ~ ' ' ~ theme.theme_mods.city ~ ', ' ~ theme.theme_mods.state ~ ' ' ~ theme.theme_mods.postal }}';
</script>
{% endblock %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "ContactPage",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}"
}
</script>
{% endblock %}

{% block content %}
	<header class="{{ sidebar ? '':'container' }}">
		{% if post.title %}
			<h1>{{ post.title }}</h1>
		{% elseif title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{% if post.post_type == 'post' %}
			<h3>{{ _e('By', 'mvnp_basic') }} <a href="{{ post.author.path }}" rel="author" title="{{ __('%s, Author', 'mvnp_basic') | format(post.author.name) }}">{{ post.author.name }}</a> &bull; <time datetime="{{ post.post_date | date('Y-m-d\\TH:i') }}">{{ post.post_date | date }}</time></h3>
		{% endif %}
		{% if post.thumbnail and post.post_type == 'post' or post.post_type == 'event' %}
			<img class="lazy-placeholder" src="{{ post.thumbnail.src('lazy_orginal_ratio') | get_webp }}" data-src="{{ post.thumbnail.src | get_webp }}" alt="{{ post.get_thumbnail.alt }}">
		{% endif %}
	</header>
	<article role="article">
		<section class="{{ sidebar ? '' : 'container' }}">
			<div class="row">
				<div class="col-lg-8">
					{{ post.content }}
				</div>
			</div>
		</section>
		<section class="{{ sidebar ? '':'container' }}">
			<div class="row">
				<div id="contact-map" class="col-lg-6 col-sm-12">Google Map</div>
				<div id="contact-address" class="col-lg-3 col-sm-12">
					<div>{{ site.title }}</div>
					{% if theme.theme_mods.phone_number %}
						<h6><a href="tel:{{ theme.theme_mods.phone_number | preg_replace('/[^0-9]/', '') }}" title="{{ _e('Call us at ', 'mvnp_basic') ~ theme.theme_mods.phone_number }}">{{ theme.theme_mods.phone_number }}</a></h6>
					{% endif %}
					{% if theme.theme_mods.email %}
						<div><a href="mailto:{{ theme.theme_mods.email }}" title="{{ _e('Email us at ', 'mvnp_basic') ~ theme.theme_mods.email }}">{{ theme.theme_mods.email }}</a></div>
					{% endif %}
					{% if theme.theme_mods.street_address_1 and theme.theme_mods.city and theme.theme_mods.state and theme.theme_mods.postal %}
						<address><a href="https://maps.google.com/maps/place/{{ (theme.theme_mods.street_address_1 ~ (theme.theme_mods.street_address_2 ? ' ' ~ theme.theme_mods.street_address_2) ~ ' ' ~ theme.theme_mods.city ~ ' ' ~ theme.theme_mods.state ~ ' ' ~ theme.theme_mods.postal) | url_encode }}" target="_blank">

						{{ theme.theme_mods.street_address_1 ~ (theme.theme_mods.street_address_2 ? ', ' ~ theme.theme_mods.street_address_2) }}<br>
						{{ theme.theme_mods.city ~ ', ' ~ theme.theme_mods.state ~ ' ' ~ theme.theme_mods.postal }}
						</a></address>
					{% endif %}
					<hr>
					<form method="" action="">
						<div class="input-wrap textarea">
							<textarea id="message" name="message"></textarea>
							<label for="message">{{ _e('Message', 'mvnp_basic') }}</label>
						</div>
						<input class="btn btn-primary" name="{{ _e('Send Message', 'mvnp_basic') }}" type="submit">
					</form>
				</div>
			</div>
		</section>
</article>
{% endblock %}
