<div class="container">
	<div class="row clearfix">
		<h6 id="footer-logo" class="col-md-1 col-sm-12"><a href="{{ site.url }}" rel="home">{{ site.name }}</a></h6>
		<nav role="navigation" class="col-sm-12 col-md-4 col-lg-3" aria-label="footer-navigation">
			{% include "menu.twig" with {'menu': footer_menu.get_items} %}
		</nav><!-- #nav -->
		<form class="col-sm-12 col-md-3 offset-sm-0 offset-md-1" method="post" action="https://gem.godaddy.com/signups/subscribe/e0ddd6143d2d49309840c554fea9b178">
			<h6><label for="user_email">{{ _e('Signup to My Newsletter', 'mvnp_basic') }}</label></h6>
			<div class="input-wrap">
				<input id="user_email" name="user_email" type="email">
				<label for="user_email">{{ _e('Email Address', 'mvnp_basic') }}</label>
			</div>
		</form>
		<nav class="col-sm-12 col-md-4 col-lg-2 offset-sm-0 offset-md-2" aria-label="contact-navigation">
			<h6>{{ _e('Connect With Me', 'mvnp_basic') }}</h6>
			<ul>
				<li>
					{% if theme.theme_mods.facebook_link %}
						<a class="social-icon" href="{{ theme.theme_mods.facebook_link }}" target="_blank" rel="noopener" title="{{ _e('Facebook', 'mvnp_basic') }}" >&#xf308;</a>
					{% endif %}
					{% if theme.theme_mods.twitter_link %}
						<a class="social-icon" href="{{ theme.theme_mods.twitter_link }}" target="_blank" rel="noopener" title="{{ _e('Twitter', 'mvnp_basic') }}">&#xf304;</a>
					{% endif %}
					{% if theme.theme_mods.trip_advisor_link %}
						<a class="social-icon" href="{{ theme.theme_mods.trip_advisor_link }}" target="_blank" rel="noopener" title="{{ _e('Trip Advisor', 'mvnp_basic') }}">&#xf262;</a>
					{% endif %}
					{% if theme.theme_mods.instagram_link %}
						<a class="social-icon" href="{{ theme.theme_mods.instagram_link }}" target="_blank" rel="noopener" title="{{ _e('Instagram', 'mvnp_basic') }}">&#xf16d;</a>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</div>
<div>
	<div class="container">
		{{ _e('Copyright', 'mvnp_basic') }} {{ 'now' | date('Y') }}
	</div>
</div>
