{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": [
		"WebSite",
		"Organization"
	],
	"@id": "{{ site.url }}/",
	"url": "{{ site.url }}/",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if theme.theme_mods.street_address_1 and theme.theme_mods.city and theme.theme_mods.state and theme.theme_mods.postal %}
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "{{ theme.theme_mods.city }}",
		"addressRegion": "{{ theme.theme_mods.state }}",
		"streetAddress": "{{ theme.theme_mods.street_address_1 ~ (theme.theme_mods.street_address_2 ? ', ' ~ theme.theme_mods.street_address_2) }}",
		"postalCode": "{{ theme.theme_mods.postal }}"
	},
	{% endif %}
	{% if theme.theme_mods.phone_number %}
	"telephone": "{{ theme.theme_mods.phone_number }}",
	{% endif %}
	{% if theme.theme_mods.email %}
	"email": "{{ theme.theme_mods.email }}",
	{% endif %}
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"potentialAction": {
		"@type": "SearchAction",
		"target": "{{ site.url }}/search/{search_term_string}",
		"query-input": "required name=search_term_string"
	},
	{% if theme.theme_mods.logo %}
	"logo": {
		"@type": "ImageObject",
		"url": "{{ theme.theme_mods.logo }}"
	},
	{% endif %}
	"sameAs": [
		{% if theme.theme_mods.twitter_link %}
		"{{ theme.theme_mods.twitter_link }}",
		{% endif %}
		{% if theme.theme_mods.facebook_link %}
		"{{ theme.theme_mods.facebook_link }}",
		{% endif %}
		{% if theme.theme_mods.gplus_link %}
		"{{ theme.theme_mods.gplus_link }}",
		{% endif %}
		{% if theme.theme_mods.instagram_link %}
		"{{ theme.theme_mods.instagram_link }}"
		{% endif %}
	]
}
</script>
{% endblock %}

{% block hero %}
<div id="hero-wrapper">
	<div class="container">
		<div id="headline"class="row clearfix">
			<h1>{{ post.get_field('title') }}</h1>
		</div>
	</div>
	<div id="home-slider">
		{% for image in post.get_field('images') %}
		{% set timber_image = Image(image) %}
		<figure class="slide">
			<picture>
				<source media="(max-width: 650px)" srcset="{{ timber_image.src | resize(325, 400, 'center') }} }}">
				<source media="(min-width: 980px)" srcset="{{ timber_image.src | resize(1920, 600, 'center') }}">
				<img src="{{ timber_image.src | resize(1920, 600, 'center') }}" alt="{{ timber_image.alt ? timber_image.alt : timber_image.title }}" width="1920">
			</picture>
			<figcaption class="container">
				<p>{{ image.copy }}</p>
				<a class="btn btn-primary" href="{{ image.button_link }}">{{ _e('Book Now!', 'mvnp_basic') }}</a>
			</figcaption>
		</figure>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block content %}
	<article role="article">
		<section class="{{ sidebar ? '' : 'container' }}">
			<div class="row">
				{% for aditional_post in post.get_field('other_pages') %}
				<div class="col-lg-4 col-sm-12 col-content">
					{% set image = Image(aditional_post.alternate_image ? aditional_post.alternate_image : aditional_post.post.custom._thumbnail_id) %}

					<a href="{{ aditional_post.post.link }}" title="{{ __('Read More about %s', 'mvnp_basic') | format(aditional_post.alternate_title ? aditional_post.alternate_title : aditional_post.post.post_title) }}"><img class="lazy-placeholder col-image" src="{{ image.src | resize(100, 66.75) }}" data-src="{{ image.src | resize(394, 263) }}" alt="{{ image.alt ? image.alt : image.title }}" width="394"></a>
					<h3><a href="{{ aditional_post.post.link }}">{{ aditional_post.alternate_title ? aditional_post.alternate_title : aditional_post.post.post_title }}</a></h3>
					{% if aditional_post.subtitle %}
					<h4>{{ aditional_post.subtitle }}</h4>
					{% endif %}
					<p>{{ aditional_post.alternate_content ? aditional_post.alternate_content : aditional_post.post.post_content | excerpt(30) }} <a class="read-more" href="{{ aditional_post.post.link }}" title="{{ __('Read More about %s', 'mvnp_basic') | format(aditional_post.alternate_title ? aditional_post.alternate_title : aditional_post.post.post_title) }}">{{ _e('Read More', 'mvnp_basic') }} <span>&rsaquo;</span></a></p>
				</div>
				{% endfor %}
			</div>
			{{ post.content }}
		</section>
	</article>
{% endblock %}
