{% extends "base.twig" %}

{% block head %}
<link href="{{ post.link }}" rel="canonical">
{% endblock %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Blog",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}"
}
</script>
{% endblock %}

{% block content %}
<header class="{{ sidebar ? '':'container' }}">
	{% if post.title %}
		<h1>{{ post.title }}</h1>
	{% elseif title %}
		<h1>{{ title }}</h1>
	{% endif %}
	{{ post.post_content }}
</header>
<article role="article">
	<section class="{{ sidebar ? '':'container' }}">
		<div class="row">
			<div id="featured" class="col-md-12">
				<div class="row clearfix">
					<h3 class="col-sm-12 section-title">{{ _e('Latest Post', 'mvnp_basic') }}</h3>
				</div>
				{% set featured = posts | first %}
				{% set name = featured.author.first_name and featured.author.first_name ? featured.author.first_name ~ ' ' ~ featured.author.last_name : featured.author.first_name ? featured.author.first_name : featured.author.name %}
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						{% if featured.thumbnail.src %}
							<a href="{{ featured.link }}" title="{{ featured.title }}"><img class="lazy-placeholder" src="{{ featured.thumbnail.src | resize(100, 50) }}" data-src="{{ featured.thumbnail.src | resize(382, 191) }}" alt="{{ featured.get_thumbnail.alt ? featured.get_thumbnail.alt : featured.get_thumbnail.title }}" width="382"></a>
						{% endif %}
					</div>
					<div class="col-lg-6 col-sm-12">
						<h3><a href="{{ featured.link }}" title="{{ featured.title }}">{{ featured.title }}</a></h3>
						<h4>{{ name }}, {{ featured.date }}</h4>
						{% for category in featured.categories %}
						<a class="post-category {{ category.slug }}" href="{{ category.link }}" data-category="{{ category.slug }}">{{ category.name }}</a>
						{% endfor %}
						<p>{{ featured.preview.length(18).read_more('') }} <a href="{{ featured.link }}" title="{{ _e('Read more about', 'mvnp_basic') ~ ' ' ~ featured.title }}">{{ _e('Read More', 'mvnp_basic') }}</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<h3 class="col-sm-12 section-title">{{ _e('Older Stuff', 'mvnp_basic') }}</h3>
		</div>
		<ul id="post-list" class="row clearfix" aria-live="assertive" aria-atomic="true">
			{% for post in posts | slice(cat_query ? 0 : 1) %}
			{% set name = post.author.first_name and post.author.first_name ? post.author.first_name ~ ' ' ~ post.author.last_name : featured.author.first_name ? post.author.first_name : post.author.name %}
			<li class="col-sm-12 post">
				<div class="row">
					<div class="col-sm-6">
						<h6><a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>, </h6>
						<p>{{ name }}, {{ post.date }}</p>
					</div>
					<div class="col-sm-6 text-right">
						{% for category in post.categories %}
						<a class="post-category {{ category.slug }}" href="{{ category.link }}" data-category="{{ category.slug }}">{{ category.name }}</a>
						{% endfor %}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</section>
</article>

{% endblock %}
