{% extends "base.twig" %}
{% block head %}
<link href="{{ post.link }}" rel="canonical">
<meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
