{% extends "base.twig" %}

{% block content %}
	<header class="{{ sidebar ? '':'container' }}">
		{% if post.title %}
			<h1>{{ post.title }}</h1>
		{% elseif title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{% if post.post_type == 'post' %}
			<h3>{{ _e('By', 'mvnp_basic') }} <a href="{{ post.author.path }}" rel="author" title="{{ __('%s, Author', 'mvnp_basic') | format(post.author.name) }}">{{ post.author.name }}</a> &bull; <time datetime="{{ post.post_date | date('Y-m-d\\TH:i') }}">{{ post.post_date | date }}</time></h3>
		{% endif %}
		{% if post.thumbnail and post.post_type == 'post' or post.post_type == 'event' %}
			<img class="lazy-placeholder" src="{{ post.thumbnail.src('lazy_orginal_ratio') | get_webp }}" data-src="{{ post.thumbnail.src | get_webp }}" alt="{{ post.get_thumbnail.alt }}">
		{% endif %}
	</header>
	<section class="{{ sidebar ? '':'container' }}">
		{{ post.content }}
	</section>
{% endblock %}
