<section id="post-categories" class="sidebar-categories">
	<h4>{{ _e('Post Categories', 'mvnp_basic') }}</h4>
	{% for category in categories %}
		<a class="post-category {{ category.slug }}" href="{{ category.link }}" data-category="{{ category.slug }}">{{ category.name }}</a>
	{% endfor %}
</section>
{{ cta_widget }}
