{% extends "base.twig" %}

{% block content %}
	<header class="{{ sidebar ? '':'container' }}">
		{% if post.title %}
			<h1>{{ post.title }}</h1>
		{% elseif title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{% if post.post_type == 'post' %}
			<h3>{{ _e('By', 'mvnp_basic') }} <a href="{{ post.author.path }}" rel="author" title="{{ __('%s, Author', 'mvnp_basic') | format(post.author.name) }}">{{ post.author.name }}</a> &bull; <time datetime="{{ post.post_date | date('Y-m-d\\TH:i') }}">{{ post.post_date | date }}</time></h3>
		{% endif %}
		{% if post.thumbnail and post.post_type == 'post' or post.post_type == 'event' %}
			<img class="lazy-placeholder" src="{{ post.thumbnail.src('lazy_orginal_ratio') | get_webp }}" data-src="{{ post.thumbnail.src | get_webp }}" alt="{{ post.get_thumbnail.alt }}">
		{% endif %}
	</header>
	<section class="{{ sidebar ? '':'container' }}">
		<div class="row">
			<div class="col-md-7 col-sm-12">{{ post.content }}</div>
		</div>
		<div class="row">
			<form id="private-form" class="col-md-7 col-sm-12">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label for="first-name">{{ _e('First Name (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="first-name" name="first-name" type="text" required>
							<span></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="last-name">{{ _e('Last Name (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="last-name" name="last-name" type="text" required>
							<span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label for="email-address">{{ _e('Email Address (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="email-address" name="email-address" type="email" required>
							<span></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="phone-number">{{ _e('Phone Number (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="phone-number" name="phone-number" type="tel" required>
							<span></span>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label for="island">{{ _e('Island (Required)', 'mvnp_basic') }}</label>
						<select id="island" name="island" required>
							<option value="oahu">{{ _e('Oahu', 'mvnp_basic') }}</option>
							<option value="maui">{{ _e('Maui', 'mvnp_basic') }}</option>
							<option value="kauai">{{ _e('Kauai', 'mvnp_basic') }}</option>
							<option value="big-island">{{ _e('Big Island', 'mvnp_basic') }}</option>
						</select>
						<span></span>
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="tour-date">{{ _e('Tour Date (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="tour-date" name="tour-date" type="date" required>
							<span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label for="hotel">{{ _e('Hotel/Pickup Location (Required)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="hotel" name="hotel" type="text" required>
							<span></span>
						</div>
					</div>
					<div class="col-md-2 col-sm-6">
						<label for="room-num">{{ _e('Room #', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="room-num" name="room-num" type="text">
						</div>
					</div>
					<div class="col-md-2 col-sm-6">
						<label for="guests-num">{{ _e('Total Guests (Req.)', 'mvnp_basic') }}</label>
						<div class="input-wrap">
							<input id="guests-num" name="guests-num" type="number" required>
							<span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label><input id="photographer" name="photographer" type="checkbox">{{ _e('I would like to hire a photographer for an additional fee', 'mvnp_basic') }}</label>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label for="special-needs">{{ _e('Do you have any special needs?', 'mvnp_basic') }}</label>
						<div class="input-wrap textarea">
							<textarea id="special-needs" name="special-needs"></textarea>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="species">{{ _e('Which species are you after?', 'mvnp_basic') }}</label>
						<div class="input-wrap textarea">
							<textarea id="species" name="species"></textarea>
						</div>
					</div>
				</div>
				<input id="private-submit" class="btn btn-primary" name="{{ _e('Submit', 'mvnp_basic') }}" type="submit">
			</form>
		</div>
	</section>
{% endblock %}
