{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "SearchResultsPage",
	"name": "{{ _e('Search Results', 'mvnp_basic') }}"
}
</script>
{% endblock %}

{% block content %}
	<section class="{{ sidebar ? '' : 'container' }}">
		{% for post in posts %}
			{% include ['tease-' ~ post.post_type ~ '.twig', 'tease.twig'] %}
		{% endfor %}

		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</section>
{% endblock %}
