<form id="footer-signup" method="post" action="{{ site.url | parse_url.path }}/" target="_top">
	<h1>Signup</h1>
	<div class="input-wrap">
		<input id="user_signup_email" name="user_email" type="email" required="required">
		<label for="user_signup_email">Email Address</label>
	</div>
	<div class="input-wrap">
		<input id="user_signup_password" name="user_password" type="password" required="required">
		<label for="user_signup_password">Password</label>
	</div>
	<div class="input-wrap">
		<input id="user_signup_verify_password" name="user_verify_password" type="password" required="required">
		<label for="user_signup_verify_password">Confirm Password</label>
	</div>
	<div class="g-recaptcha" data-width="100" data-sitekey="6LeVER8UAAAAAC0m2MouztRbXrFM9hEqDk0ZeckK"></div>
	<label><input type="checkbox" vlaue="tos_agree">I agree to the <a href="#">terms of service</a>.</label>
	<div class="actions row">
		<button class="col-sm-12 btn btn-primary" type="submit">Sign Up</button>
	</div>
</form>
<script src='https://www.google.com/recaptcha/api.js'></script>
