{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BlogPosting",
	"@id": "{{  post.link  }}",
	"headline": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"author": {
		"@type": "Person",
		"name": "{{ post.author }}"
	},
	"publisher": {
		"@type": "Organization",
		"name": "{{  site.name  }}",
		"logo": {
			"@type": "ImageObject",
			"url": "{{ theme.theme_mods.logo }}"
		},
		"sameAs": [
			{% if theme.theme_mods.twitter_link %}
			"{{ theme.theme_mods.twitter_link }}",
			{% endif %}
			{% if theme.theme_mods.facebook_link %}
			"{{ theme.theme_mods.facebook_link }}",
			{% endif %}
			{% if theme.theme_mods.gplus_link %}
			"{{ theme.theme_mods.gplus_link }}",
			{% endif %}
			{% if theme.theme_mods.instagram_link %}
			"{{ theme.theme_mods.instagram_link }}"
			{% endif %}
		]
	},
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{ site.link }}"
	},
	"datePublished": "{{ post.date | date('Y-m-d') }}",
	"dateModified": "{{ post.post_modified | date('Y-m-d') }}"
}
</script>
{% endblock %}

{% block hero %}
<div id="hero-wrapper">
	<div class="container">
		<div id="headline"class="row clearfix">
			<h1>{{ post.title }}</h1>
		</div>
	</div>
	<figure>
		<picture>
			<source media="(max-width: 650px)" srcset="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(600, 576, 'center') }}">
			<source media="(min-width: 980px)" srcset="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(1920, 600, 'center') }}">
			<img class="lazy-placeholder" src="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(1920, 600, 'center') }}" alt="{{ image.alt }}" width="1920">
		</picture>
	</figure>
</div>
{% endblock %}

{% block content %}
	<section class="{{sidebar ? '':'container' }}">
		<div class="row">
			<div class="col-sm-12">
				<h3>{{ post.author.name }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-sm-12">
				<h4>{{ post.date }}</h4>
			</div>
			<div class="col-md-2 col-sm-12 text-right">
				{% for category in post.categories %}
				<a href="{{ fn('get_post_type_archive_link', 'post') }}?category={{ category.slug }}">{{ category.name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{{ post.content }}
			</div>
		</div>
	</section>
	<!-- comment box -->
{% endblock %}
