{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": ["http://schema.org", {"Condominium": "http://www.productontology.org/doc/Condominium"}],
	"@type": "Product",
	"@id": "{{ post.link }}",
	"additionalType": "http://www.productontology.org/id/Condominium",
	"name": "{{ post.title }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	"image": {
		"@type": "ImageObject",
		"url": "{{ site.url }}/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_Isometric-300x289.png",
		"width": "300",
		"height": "289"
	},
	"numberOfRooms": "{{ post.bedrooms }}",
	"floorSize": "{{ post.livingSqFt }}",
	"offers": {
		"availability": "http://schema.org/{{ unit.available < 1 ? 'OutOf' : 'In' }}Stock",
		"price": "{{ post.price }}",
		"priceCurrency": "USD"
	},
	"url": "{{ post.link }}"
}
</script>
{% endblock %}

{% block content %}
	<section class="unit-section {{ sidebar ? '':'container' }}">
		<picture>
			<source media="(max-width: 650px)" srcset="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-100x31.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-600x187.png">
			<source media="(min-width: 980px)" srcset="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-100x31.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-1920x600.png">
			<img class="lazy-placeholder" src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-100x31.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_Mauka_43_PanoView-1920x600.png" alt="Panoramic" width="1920">
		</picture>
		<div class="row">
			<div class="col-lg-3 col-sm-12">
				{% if modal %}
				<h1>{{ post.title }}</h1>
				{% endif %}
				<h3 {{ post.available < 1 ? 'class="sold"' }}>${{ fn('number_format', post.price, 0) }}</h3>
				{% if post.available < 1 %}
					<h3>{{ _e('This unit has been sold', 'mvnp_basic') }}</h3>
				{% endif %}
				<p>{{ post.post_content }}</p>
				<hr>
				<div class="leaders">
					<div class="unit-info">
						<h4>{{ _e('Pricing:', 'mvnp_basic') }}</h4>
						<div>{{ post.affordable < 1 ? __('Market', 'mvnp_basic') : __('Affordable', 'mvnp_basic') }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Level:', 'mvnp_basic') }}</h4>
						<div>{{ post.level }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('View Direction:', 'mvnp_basic') }}</h4>
						<div>{{ post.viewPlaneDirection }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Interior Area:', 'mvnp_basic') }}</h4>
						<div>{{ __('%u sq. ft.', 'mvnp_basic') | format(post.livingSqFt) }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Lanai Area:', 'mvnp_basic') }}</h4>
						<div>{{ __('%u sq. ft.', 'mvnp_basic') | format(post.lanaiSqFt) }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Bedrooms:', 'mvnp_basic') }}</h4>
						<div>{{ post.bedrooms }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Bathrooms:', 'mvnp_basic') }}</h4>
						<div>{{ post.bathrooms }}</div>
					</div>
					<div class="unit-info">
						<h4>{{ _e('Parking Stalls:', 'mvnp_basic') }}</h4>
						<div>{{ post.parking }}</div>
					</div>
				</div>
			</div>
			<div class="text-center col-lg-8 offset-lg-1 col-sm-12 offset-sm-0">
				<img src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_Isometric-100x96.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_Isometric-768x740.png" alt="Isometric View" width="768">
				<img src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_FloorPlan-100x84.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_FloorPlan-300x252.png" alt="Floor Plan" width="300">
				<img src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_FloorMap-100x63.png" data-src="/wordpress/wp-content/uploads/2018/12/KAPR-34251_A_FloorMap-300x190.png" alt="Floor Map" width="300">
			</div>
		</div>
	</section>
{% endblock %}
