{% extends "base.twig" %}

{% block content %}
	<article role="article">
		<section class="{{ sidebar ? '':'container' }}">
			<div id="tour-slider">
				{% for image in post.custom.gallery %}
				{% set image = Image(image) %}
				<figure class="slide">
					<picture>
						<source media="(max-width: 650px)" srcset="{{ image.src | resize(100, 62.5, 'center') }}" data-src="{{ image.src | resize(400, 250, 'center') }}">
						<source media="(min-width: 980px)" srcset="{{ image.src | resize(100, 39.1, 'center') }}" data-src="{{ image.src | resize(1280, 500, 'center') }}">
						<img class="lazy-placeholder" src="{{ image.src |  resize(100, 39.1, 'center') }}" data-src="{{ image.src | resize(1280, 500, 'center') }}" alt="{{ image.alt ? image.alt : image.title }}" width="1280">
					</picture>
				</figure>
				{% endfor %}
			</div>
		</section>
		<section class="{{ sidebar ? '':'container' }}">
			<div class="row">
				<div id="tour-information" class="col-sm-12 col-md-4">
					<h6>{{ _e('Tour Start Date:', 'mvnp_basic') }} <span>{{ post.custom.datetime | date("F jS \\a\\t g:ia") }}</span></h6>
					<hr>
					<h6>{{ _e('Price per Person:', 'mvnp_basic') }} <span>${{ post.custom.price_single_person | number_format(0, '.', ',') }}</span></h6>
					<hr>
					<h6>{{ _e('Supplimental Price:', 'mvnp_basic') }} <span>${{ post.custom.price_single_supplement | number_format(0, '.', ',') }}</span></h6>
					<hr>
					<h6>{{ _e('Locations:', 'mvnp_basic') }} </h6>
					<ul class="clearfix">
						{% for item in post.get_field('locations') %}
						<li>{{ item.location }}</li>
						{% endfor %}
					</ul>
					<hr>
					<h6>{{ _e('Bird Species:', 'mvnp_basic') }} </h6>
					<ul class="clearfix">
						{% for item in post.get_field('birds') %}
						<li>{{ item.bird }}</li>
						{% endfor %}
					</ul>
					<button class="btn btn-inverted specialty-tour-signup-link">{{ _e('Sign Up Now!', 'mvnp_basic') }}</button>
				</div>
				<div class="col-sm-12 col-md-7 offset-md-1 offset-sm-0">
					<header>
						{% if post.title %}
							<h1>{{ post.title }}</h1>
						{% elseif title %}
							<h1>{{ title }}</h1>
						{% endif %}
						{% if post.post_type == 'post' %}
							<h3>{{ _e('By', 'mvnp_basic') }} <a href="{{ post.author.path }}" rel="author" title="{{ __('%s, Author', 'mvnp_basic') | format(post.author.name) }}">{{ post.author.name }}</a> &bull; <time datetime="{{ post.post_date | date('Y-m-d\\TH:i') }}">{{ post.post_date | date }}</time></h3>
						{% endif %}
						{% if post.thumbnail and post.post_type == 'post' or post.post_type == 'event' %}
							<img class="lazy-placeholder" src="{{ post.thumbnail.src('lazy_orginal_ratio') | get_webp }}" data-src="{{ post.thumbnail.src | get_webp }}" alt="{{ post.get_thumbnail.alt }}">
						{% endif %}
					</header>
					{{ post.content }}
					<a class="specialty-tour-signup-link" href="#" title="{{ _e('Sign up for this tour now!', 'mvnp_basic') }}">{{ _e('Sign up for this tour now!', 'mvnp_basic') }}</a>
				</div>
			</div>
		</section>
</article>
{% endblock %}
