{% extends "base.twig" %}

{% block head %}
<link href="{{ post.link }}" rel="canonical">
{% endblock %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Event",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}",
	{% if post.custom.location and post.custom.location != '' %}
	"location": {
		"@type": "Place",
		{% if post.custom.location_name %}
		"name": "{{ post.custom.location_name }}",
		{% endif %}
		"address": "{{ post.custom.location }}"
	},
	{% endif %}
	"startDate": "{{ post.custom.start_date | date('Y-m-d\\TH:i') }}",
	"endDate": "{{ post.custom.end_date | date('Y-m-d\\TH:i') }}"
}
</script>
{% endblock %}

{% block hero %}
<div id="hero-wrapper">
	<div class="container">
		<div id="headline"class="row clearfix">
			<h1>{{ post.title }}</h1>
			<a class="btn btn-primary" href="//www.google.com/calendar/event?action=TEMPLATE&text={{ post.title | url_encode | replace({'%20': '+'}) }}&dates={{ (post.custom.start_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}/{{ (post.custom.end_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}&details={{ post.post_content | url_encode | replace({'%20': '+'}) }}&location={{ post.custom.location | url_encode | replace({'%20': '+'}) }}"
				target="_blank"
				rel="noopener"
				title="{{ _e('Add to My Calendar', 'mvnp_basic') }}">{{ _e('Add to My Calendar', 'mvnp_basic') }}
			</a>
		</div>
	</div>
	<figure>
		<picture>
			<source media="(max-width: 650px)" srcset="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(600, 576, 'center') }}">
			<source media="(min-width: 980px)" srcset="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(1920, 600, 'center') }}">
			<img class="lazy-placeholder" src="{{ post.thumbnail.src | resize(100, 31, 'center') }}" data-src="{{ post.thumbnail.src | resize(1920, 600, 'center') }}" alt="{{ image.alt ? image.alt : image.title }}" width="1920">
		</picture>
	</figure>
</div>
{% endblock %}

{% block content %}
	<section class="{{ sidebar ? '' : 'container' }}">
		<div class="row clearfix">
			<div class="col-md-9 col-sm-12 fr">
				<h3>
					{% if post.custom.start_date | date('mdY') == post.custom.end_date | date('mdY') %}
						<time datetime="{{ post.custom.start_date | date('Y-m-d\\TH:i') }}">{{ post.custom.start_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
						{% if post.custom.start_date | date('gia') != post.custom.end_date | date('gia') %}
							- <time datetime="{{ post.custom.end_date | date('Y-m-d\\TH:i') }}">{{ post.custom.end_date | date('g:ia') }}</time>
						{% endif %}
					{% else %}
						<time datetime="{{ post.custom.start_date | date('Y-m-d\\TH:i') }}">{{ post.custom.start_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
						-
						<time datetime="{{ post.custom.end_date | date('Y-m-d\\TH:i') }}">{{ post.custom.end_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
					{% endif %}
				</h3>
				{% if post.custom.location and post.custom.location != '' %}
					<h3 id="event-location">{{ post.custom.location_name ? post.custom.location_name : post.custom.location }}</h3>
					{% if post.custom.location and post.custom.location_name %}
						<h4 id="event-address">{{ post.custom.location }}</h4>
					{% endif %}
				{% else %}
					<h3 id="event-location">{{ _e('This event has no location', 'mvnp_basic') }}</h3>
				{% endif %}
				{% for event_category in post.terms %}
					<a class="event-category" href="{{ site.url }}/events?date={{ now }}&category={{ event_category.slug }}" rel="tag" title="{{ event_category.name }}">{{ event_category.name }}</a>
				{% endfor %}
				{{ post.content }}
			</div>
			<div class="col-md-3 col-sm-12">
				{% if post.custom.location and post.custom.location != '' %}
					<div id="event-map">{{ _e('Error loading map', 'mvnp_basic') }}</div>
				{% endif %}
				<a class="btn btn-primary" href="//www.google.com/calendar/event?action=TEMPLATE&text={{ post.title | url_encode | replace({'%20': '+'}) }}&dates={{ (post.custom.start_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}/{{ (post.custom.end_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}&details={{ post.post_content | url_encode | replace({'%20': '+'}) }}&location={{ post.custom.location | url_encode | replace({'%20': '+'}) }}"
					target="_blank"
					rel="noopener"
					title="{{ _e('Add to My Calendar', 'mvnp_basic') }}">{{ _e('Add to My Calendar', 'mvnp_basic') }}
				</a>
			</div>
		</div>
	</section>
{% endblock %}
