<section id="tour-categories">
	{% if post.custom.fareharbor_id %}
	{% filter shortcodes %}
		[fareharbor type="small" items="{{ post.custom.fareharbor_id }}"]
	{% endfilter %}
	{% elseif theme.theme_mods.email %}
		<h5>{{ _e('Oops! Unfortunatly this tour is not available for online booking right now.') }} <a href="mailto:{{ theme.theme_mods.email }}" title="{{ __('Email me', 'mvnp_basic') }}">{{ __('Email me directly at %s', 'mvnp_basic') | format(theme.theme_mods.email) }}</a></h5>
		<p></p>
	{% endif %}
</section>
{{ cta_widget }}
