{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "TouristTrip",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}",
}
</script>
{% endblock %}
{% block content %}
	<article role="article">
		<section>
			<div id="tour-slider">
				{% for image in post.custom.images %}
				{% set image = Image(image) %}
				<figure class="slide">
					<picture>
						<source media="(max-width: 650px)" srcset="{{ image.src | resize(400, 250) }}">
						<source media="(min-width: 980px)" srcset="{{ image.src | resize(960, 500) }}">
						<img class="lazy-placeholder" src="{{ image.src | resize(960, 500) }}" alt="{{ image.alt ? image.alt : image.title }}" width="960">
					</picture>
				</figure>
				{% endfor %}
			</div>
		</section>
		<section class="{{ sidebar ? '':'container' }}">
			<header>
				{% if post.title %}
					<h1>{{ post.title }}</h1>
				{% elseif title %}
					<h1>{{ title }}</h1>
				{% endif %}
			</header>
			{{ post.content }}
		</section>
	</article>
{% endblock %}
