<form id="private-form">
	<h3>Sign up for this tour!</h3>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<label for="first-name">First Name (Required)</label>
			<div class="input-wrap">
				<input id="first-name" name="first-name" type="text" required>
				<span></span>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<label for="last-name">Last Name (Required)</label>
			<div class="input-wrap">
				<input id="last-name" name="last-name" type="text" required>
				<span></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<label for="email-address">Email Address (Required)</label>
			<div class="input-wrap">
				<input id="email-address" name="email-address" type="email" required>
				<span></span>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<label for="phone-number">Phone Number (Required)</label>
			<div class="input-wrap">
				<input id="phone-number" name="phone-number" type="tel" required>
				<span></span>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<label for="hotel">Hotel/Pickup Location (Required)</label>
			<div class="input-wrap">
				<input id="hotel" name="hotel" type="text" required>
				<span></span>
			</div>
		</div>
		<div class="col-md-2 col-sm-6">
			<label for="room-num">Room #</label>
			<div class="input-wrap">
				<input id="room-num" name="room-num" type="text">
			</div>
		</div>
		<div class="col-md-2 col-sm-6">
			<label for="guests-num">Total Guests (Req.)</label>
			<div class="input-wrap">
				<input id="guests-num" name="guests-num" type="number" required>
				<span></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<label><input id="photographer" name="photographer" type="checkbox">I am a photographer and need extra time for photographs</label>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<label for="special-needs">Do you have any special needs?</label>
			<div class="input-wrap textarea">
				<textarea id="special-needs" name="special-needs"></textarea>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<label for="species">Which species are you after?</label>
			<div class="input-wrap textarea">
				<textarea id="species" name="species"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<input id="private-submit" class="btn btn-primary col-md-6 col-sm-12" name="Submit" type="submit">
	</div>
	<input id="tour-name" name="tour-name" type="hidden" value="">
	<input id="tour-date" name="tour-date" type="hidden" value="">
</form>
