<section id="tour-categories" class="sidebar-categories">
	<h4>{{ _e('Tour Islands', 'mvnp_basic') }}</h4>
	{% for island in tour_islands %}
		<a class="tour-island {{ island.slug }}" href="{{ island.link }}" data-category="{{ island.slug }}">{{ island.name }}</a>
	{% endfor %}
	<a class="tour-island none" href="#" data-category="">None</a>
</section>
<section id="tour-types" class="sidebar-categories">
	<h4>{{ _e('Tour types', 'mvnp_basic') }}</h4>
	{% for type in tour_types %}
		<a class="tour-type {{ type.slug }}" href="{{ type.link }}" data-category="{{ type.slug }}">{{ type.name }}</a>
	{% endfor %}
	<a class="tour-type none" href="#" data-category="">None</a>
</section>
{{ cta_widget }}
